numpy~=1.22.3
opencv-python~=4.5.4.58
scikit-learn~=1.0.1
boto3~=1.17.109
matplotlib~=3.4.2
tqdm~=4.61.2
setuptools~=58.0.4
flask~=2.0.2
flask_cors~=3.0.10
celery~=5.2.2
redis~=4.1.4
torch~=1.9.0
torchvision~=0.10.0
torchaudio~=0.9.0
pytest
pylint
pycodestyle
